@model BankMatilda.ViewModels.AccountDetailsViewModel
@{
    ViewData["Title"] = "Admin Page";
}

<div class="card-header">
    <h3 class="h6 text-uppercase mb-0">Account Information</h3>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Balance</th>
            <th>Frequency</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.AccountId</td>
            <td>@Model.Balance</td>
            <td>@Model.Frequency</td>
        </tr>
    </tbody>
</table>

<div class="card-header">
    <h3 class="h6 text-uppercase mb-0">Transactions</h3>
</div>

<table class="table table-hover" id="transactions">

    <thead>
        <tr>
            <th>Transaction</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Saldo left</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var detail in @Model.Transactions)
        {

            <partial name="_TransactionsRow" model="@detail" />

        }

    </tbody>
</table>
<a class="btn btn-primary" href="#" onclick="fetch20more(); return false;">Hämta 20 nästa</a>

@section Scripts
{
    <script>
    var skip = 0;
    function fetch20more() {


        skip = skip + 20;

        $.ajax({
            url: "/account/GetTransactions/@Model.AccountId?skip=" + skip, success: function (result) {
                $("#transactions").append(result);
            }
        });

    }</script>
}