@model BankMatilda.Models.TransactionsViewModel
@{
    ViewData["Title"] = "Transations Page";
}

<section class="py-5">
    <div class="col-md-3">
        <h1 class="display-4">Transactions</h1>
        <ul class="nav nav-pills flex-column">
        </ul>


    </div>
    <div class="col-lg-12 mb-5">
        <div class="card">
            <div class="card-header">
                <h3 class="h6 text-uppercase mb-0">Senaste trans</h3>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">AccountId</th>
                            <th scope="col">Operation</th>
                            <th scope="col">Date</th>
                            <th scope="col">TransactionId</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var transations in Model.Transactions)
                        {
                        <tr>
                            <td>@transations.AccountId</td>
                            <td>@transations.Operation</td>
                            <td>
                                @transations.Date
                            </td>
                            <td>@transations.TransactionId</td>
                            <td>@transations.Amount</td>
                        </tr>
                        }
                        <a class="nav-link text-dark" asp-controller="Admin" asp-action="Transactions" title="Transactions">Se alla</a>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>